Bradken/force-app/main/default/flows/Submit_Quote_for_Approval_Guided_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Hitachi_Approval_Process</name>
        <label>Hitachi Approval Process</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Entry_Criteria_Not_Met_Decision</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Hitachi_Quote_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Submission_Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mining_Approval_Process_0_0</name>
        <label>Mining Approval Process</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Entry_Criteria_Not_Met_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Mining_Quote_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Submission_Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>MineralProcessing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mineral Processing</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Entry_Criteria_Not_Met_0_0_0</name>
        <label>Entry Criteria Not Met</label>
        <locationX>1238</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No applicable approval process was found.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entry_Criteria_Not_Met_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_Criteria_Not_Met_Decision</name>
        <label>Entry Criteria Not Met</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No applicable approval process was found.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entry_Criteria_Not_Met_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>To determine the if quote&apos;s account type is HCM</description>
        <name>Is_Account_Type_HCM_0</name>
        <label>Is Account Type HCM?</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Mining_Approval_Process_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Opportunity.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hitachi_Approval_Process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow called by &quot;Submit for Approval&quot; custom button on Quote to provide the user with relevant information about the approval process before submitting to ensure valid data is entered and appropriate error messages are displayed</description>
    <dynamicChoiceSets>
        <name>New_Customer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NewCustomer__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnapprovedNonStandardTnCs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnapprovedNonStandardTCs__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnapprovedNonStdPaymentTerms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnapprovedNonStdPaymentTerms__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Submit Quote for Approval Guided Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Quote for Approval Guided Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Type</name>
        <label>Get Account Type</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Present_with_Approval_Process_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_0_0_0</name>
        <label>Update Quote</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Is_Account_Type_HCM_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_Screen</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Entry_Criteria_Not_Met_0_0</name>
        <label>Entry Criteria Not Met</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message_Screen_0_0</name>
            <fieldText>&lt;p&gt;This Quote does not meet the criteria to be submitted for approval.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please restart this process and ensure that your Quote meets the conditions specified in the first screen of this process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entry_Criteria_Not_Met_0_0_0_0</name>
        <label>Entry Criteria Not Met</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message_Screen_0_0_0</name>
            <fieldText>&lt;p&gt;This Quote does not meet the criteria to be submitted for approval.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please restart this process and ensure that your Quote meets the conditions specified in the first screen of this process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Present_with_Approval_Process_Fields</name>
        <label>Present with Approval Process Fields</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Quote_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Display_Quote_Approval_Process_fields</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Entry Criteria for Quote Approval Process (Please be aware that any changes made here will be reflected on the quote) :&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Present_with_Approval_Process_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Screen</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Not_Working_Proposal</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 2, 2);&quot;&gt;Quote status not equal to &quot;Working Proposal&quot;. Please update&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Status_Screen</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Working Proposal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Present_with_Approval_Process_Fields_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Ownner_Role</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Quote Owner:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Quote_Owner_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cannot_Be_Sales_Support</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 4, 4);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Quote Owner Role cannot be Sales Support. Please update&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Quote.Quote_Owner_Role__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Sales Support</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Present_with_Approval_Process_Fields_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalCostPriceText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Total Cost Price (Incl. FTP)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Total_Cost_Price_incl_FTP__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Price_Greater_Than_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(247, 3, 3);&quot;&gt;Total Cost Price (Incl. FTP) must be greater than $0&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Quote.Total_Cost_Price_incl_FTP__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Present_with_Approval_Process_Fields_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalSellPriceText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Total Sell Price (Incl. FTP)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Total_Sell_Price_incl_FTP__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Present_with_Approval_Process_Fields_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sell_Price_Greater_Than_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(244, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Total Sell Price (Incl. FTP) must be greater than $0&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Quote.Total_Sell_Price_incl_FTP__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountType</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Type&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Account_Type.Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submission_Comments</name>
            <fieldText>Submission Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit For Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
